{% load staticfiles %}


<div class="container">
  <nav class="nav navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--left side of navbar-->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav pull-sm-left">
          <li class="nav-item">
            <a class="navbar-brand" href="#brand">
              Adrian Helerea
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experience">
              <span class="fas fa-briefcase mr-2" aria-hidden="true"></span>Experience
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#education">
              <span class="fas fa-graduation-cap mr-2" aria-hidden="true"></span>Education
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">
              <span class="fas fa-wrench mr-2" aria-hidden="true"></span>Skills
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#strength">
              <span class="fas fa-bolt mr-2" aria-hidden="true"></span>Strengths
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">
              <span class="fas fa-paper-plane mr-2" aria-hidden="true"></span>Contact
            </a>
          </li>
        </ul>
      </div>

      <!--right side of navbar-->
      <div>
        <ul class="nav pull-sm-right">
          <li class="nav-item">
            <a class="nav-link" href="mailto:helereaiadrian@gmail.com">
              <span class="fas fa-envelope" aria-hidden="true"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">
              <span class="fas fa-print" onclick="printPage()" aria-hidden="true"></span>
            </a>
          </li>
          <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#">-->
          <!--<span class="fas fa-cloud-download-alt" aria-hidden="true"></span>-->
          <!--</a>-->
          <!--</li>-->
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/adrianhelerea" target="_blank">
              <span class="fab fa-linkedin" aria-hidden="true"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>