{% load staticfiles %}

<div class="container" id="brand">
  <div class="jumbotron text-center pt-3">
    <div class="row">
      <div class="col-lg-4 mb-3 align-self-center">
        <img src="static/curriculum/img/AdrianHelerea.jpg" alt="Adrian" class="img-thumbnail">
      </div>
      <div class="col-lg-8 text-center">
        <h1>Adrian Helerea</h1>
        <blockquote>
          <h5>"Be the change you wish to see in the world."</h5>
          <footer class="blockquote-footer text-right">Mahatma Gandhi</footer>
        </blockquote>

        <h4 class="text-justify">
          <bolt>My objective:</bolt>
        </h4>
        <p class="text-justify">
          I have been working in engineering for the last eight years, from Research Engineer in Silviculture
          to Design Engineer in Storage Facilities, where I used Python to automate processes, and I am now
          looking to fully transition as a Python Developer.
        </p>
        <p class="text-justify">
          With strong ability of self taught and professional development, in the last year I studied and
          worked to build web programs with Django and small scripts with Python and I am eager to improve my
          Python skills in Computer Vision.
        </p>
      </div>
    </div>
  </div>
</div>