{% block jumbotron %}

<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6">
        <h1 style="color:purple">Welcome to ScriuCod</h1>
        {% if request.user.is_authenticated %}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sodales, nunc sit amet lobortis
          viverra, purus metus pellentesque nisi, in ullamcorper quam orci in magna. Cras lacus quam,
          ultricies sit amet arcu ut, interdum pellentesque diam. Cras tempus risus quis auctor tempus.</p>
        {% else %}
        <p>Please Logini</p>
        {% endif %}
      </div>
      <div class="col-sm-6 text-center">
        <div style="background-color:black; min-height:300px;">Video here</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}